#about {
  padding-top: 3.125rem;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #E2F5FC;
  scroll-margin-top: 4rem;
}

#about .grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2.5rem;

  padding: 0 2rem 0 2rem;
  margin-bottom: 13.75rem;
}

/*Information CSS*/

.info-section {
  color: white;
  max-width: 32.5rem;
  height: auto;
  border-radius: 0.9375rem;
}

.about-title {
  color: #287C9B;
  margin: 0.625rem 0 0.9375rem 0;
  font-size: 2.5rem;
  font-weight: 600;

  position: relative;
}

.about-title::after {
  content: '';
  position: absolute;

  width: 7.5rem;
  height: 0.1875rem;
  left: 0;
  bottom: 100%;

  background: #287C9B;
}

.about-info {
  color: #287C9B;
  font-size: 1.125rem;
}

.embed-L{
  color: inherit;
  transition: .1s;
}

.embed-L:hover {
  color: #D3891F;
}


.about-info br {
  line-height: 25rem;
}

/*Image CSS*/

.about-image-container {
  height: auto;
  position: relative;
  width: 21.875rem;
  height: 100%;
}

.about-image-container img {
  position: absolute;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 0.9375rem;
}

@media (max-width: 55.625rem){
  #about .grid {
    grid-template-columns: auto;
    margin-bottom: 12.5rem;
    height: auto;
  }

  .about-image-container {
    max-width: 21.875rem;
    height: 28.125rem;
    margin: 0 auto;
    width: 100%;
  }
  .about-image-container img {
    top: 3.125rem;
    width: 100%;
  }

}

