
.about .grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;

  max-width: 810px;

  padding: 0 40px;
  margin: 0 auto;
}

/*Information CSS*/

.info-section {
  color: white;
  background-color: #002642;
  width: 360px;
  height: auto;
  padding: 30px;
}

.about-title {
  color: #E59500;
  margin: 10px 0 15px 0;
  font-size: 40px;
  font-weight: 400;

  position: relative;
}

.about-title::after {
  content: '';
  position: absolute;

  width: 35%;
  height: 2px;
  left: 0;
  bottom: 55px;

  background: #E59500;
}

.about-info {
  color: #DADADA;
  font-size: 18px;
}

.span1 {
  font-size: 20px;
  color: white;
}

.about-info br {
  line-height: 400px;
}

/*Image CSS*/

.about-image-container {
  display: flex;
  height: auto;
  position: relative;
  justify-content: center;
  width: 350px;
  margin-top: 100px;
}

.about-image-container img {
  position: absolute;
  width: 350px;
  height: 450px;
  margin: 0 auto;
  object-fit: cover;
}

@media (max-width: 890px){
  .about .grid {
    grid-template-columns: auto;
    max-width: 420px;
  }
  .info-section {
    max-width: 360px;
  }
  .about-image-container {
    width: 420px;
    margin-top: 40px;
  }
}




