#header {
  height: 70px;

  display: relative;
  flex-direction: row;

  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  background-color: rgb(0, 0, 0, .3);
  border-bottom: 1px solid rgb(255, 255, 255);

  z-index: 1000;
}

.logo-section {
  display: flex;
  align-items: center;
  height: 100%;
  width: 48px;
}

.logo {
  width: 48px;
  margin-left: 30px;
  border-radius: 10px;
}

.right-section {
  position: absolute;
  width: 450px;
  right: 100px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  top: 24.5px;

}

header nav div p {
  font-family: Lato;
  color: white;
  font-size: 17px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

header div p:hover {
  cursor: pointer;
} 

header div p:after {
  content: '';
  position: absolute;

  width: 100%;
  height: 2px;
  background-color: (107, 235, 90);
  bottom: -6px;
  left: 0px
}
