#header {
  height: 110vh;
  width: 100%;
  position: relative;
}


.background-image {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  justify-content: center;
}

.background-image img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
}

.scroll {
  position: absolute;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 12%;
  opacity: 100%;
}

.scroll img {
  height: 30px;
  width: 40px;
}


/* Top bar */

.header-container {
  height: 60px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1000;
  flex-wrap: nowrap;
}

.logo {
  height: 40px;
  border-radius: 10px;
  margin-left: 40px;
}

.header-container nav {
  margin-right: 24px;
}

.header-container nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 30px;
}

.header-container nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  position: relative;
}

.header-container nav ul li a::after {
  content: '';
  position: absolute;

  width: 0;
  height: 2px;
  left: 0;
  bottom: -4px;

  background: #D3891F;
  transition: 0.35s;
}

.header-container nav ul li a:hover::after {
  width: 100%;
}

/* Middle Text */

.intro-text {
  text-align: left;
  width: 800px;
  padding: 35vh 40px 0 40px;

  color: white;
  z-index: 1000;
}

@media (max-width: 800px) { 
  nav {
    display: none;
  }
}

.intro-info,
.intro-info h1 {
  font-size: 50px;
  font-weight: 400;
}

.intro-info span {
  color: #D3891F;
}

.intro-info h1 {
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
}

.intro-info h1::after {
  content: '';
  position: absolute;

  width: 50%;
  height: 4px;
  left: 40px;
  bottom: -4px;

  background: #D3891F;
}

.intro-about {
  font-weight: 300;
  font-size: 20px;
}

/*Hamburger Menu*/

.hamburger {
  position: relative;
  display: block;
  width: 45px;
  height: 35px;
  cursor: pointer;
  margin-right: 40px;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: '';
  width: 100%;
  display: block;
  height: 5px;
  background-color: white;

  margin: 6px 0px;
  border-radius: 3px;
  transition: 0.5s;
}



.hamburger.is-active:after {
  transform: translate(0px, -11px) rotate(45deg) ;
}

.hamburger.is-active:before {
  transform: translate(0px, 11px) rotate(-45deg) ;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background-color: #287C9B;
  padding-top: 100px;
  left: 100%;
  transition: 0.5s;
}

.mobile-nav.is-active {
  left: 0%;
}


.mobile-nav ul {
  list-style: none;
}



.mobile-nav a {
  position: relative;
  display: block;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 15px;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;

  text-decoration: none;
  color: white;
  background-color: #4691AE;
}

.mobile-nav a::after {
  content: '';
  position: absolute;

  width: 0;
  height: 2px;
  left: 0;
  bottom: 0px;

  background: #D3891F;
  transition: 0.35s;
}

.mobile-nav a:hover::after {
  width: 100%;
}

@media (min-width: 800px) { 
  .hamburger {
    display: none;
  }
  
  .mobile-nav {
    display: none;
  }
}

/*
  ::-webkit-scrollbar {
  display: none;
}

.intro-text {
  text-align: center;
  margin-top: 35vh;
  color: white;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
}

.intro-text p {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 0;
}

.intro-text h1 {
  font-size: 120px;
  font-weight: 400;
  margin-top: 0;
}

.intro-text span {
  color: #002642;
}
.footer::ater {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  position: absolute;
  top: -105px;
  left: 0px;
  transform-origin: right;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: #002642;
}

.contact-text {
  color: white;
}
*/