

.intro-background-image {
  display: flex;

  height: 100vh;
  max-width: 100%;
}


.intro-background-image img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

